@model CRUD_Final_Project_1268474.Models.Trainne
@{
    ViewBag.Title = "Delete";
}

<div class="row">
    <div class="col-12">
        <h3>Are you sure to delete?</h3>
        @Html.HiddenFor(x => x.TrainneID)
        <div class="form-group row mb-1">
            @Html.LabelFor(x => x.TrainneID, new { @class = "col-form-label col-form-label-sm col-2" })
            <div class="col-4">
                @Html.DisplayFor(x => x.TrainneID)
            </div>
        </div>
        <div class="form-group row mb-1">
            @Html.LabelFor(x => x.TraineeAddress, new { @class = "col-form-label col-form-label-sm col-2" })
            <div class="col-4">
                @Html.DisplayFor(x => x.TraineeAddress)

            </div>
        </div>
        <div class="form-group row mb-1">
            @Html.LabelFor(x => x.Email, new { @class = "col-form-label col-form-label-sm col-2" })
            <div class="col-4">
                @Html.DisplayFor(x => x.Email)
            </div>
        </div>
        <div class="form-group row mb-1">
            @Html.LabelFor(x => x.BirthDate, new { @class = "col-form-label col-form-label-sm col-2" })
            <div class="col-4">
                @Html.DisplayFor(x => x.BirthDate)
            </div>
        </div>
        <div class="form-group row mb-1">
            @Html.LabelFor(x => x.IsRunning, new { @class = "col-form-label col-form-label-sm col-2" })
            <div class="col-4">
                @Html.CheckBoxFor(x => x.IsRunning)
            </div>
        </div>
        <div class="form-group row mb-1">
            @Html.LabelFor(x => x.Course, new { @class = "col-form-label col-form-label-sm col-2" })
            <div class="col-4">
                @Html.DisplayFor(x => x.Course.BatchName)
            </div>
        </div>
        <div class="form-group row mb-1">
            @Html.LabelFor(x => x.Picture, new { @class = "col-form-label col-form-label-sm col-2" })
            <div class="col-4">
                <img src="~/Uploads/@Model.Picture" class="img-thumbnail" style="width:50px" />
            </div>
        </div>

        @using (Html.BeginForm("Delete", "Trainee", new { id = Model.TrainneID }, FormMethod.Post))
        {

            <div class="col-4 offset-2">
                <button type="submit" class="btn btn-danger">Confirm Delete</button>

            </div>
        }
    </div>
    <div class="col-12">
        @Html.ActionLink("Back to list", "Index")
    </div>
</div>


